@use "breakpoints" as bp;
@use "vars" as v;

#index_wrapper {
    display: flex;
    flex-direction: column-reverse; //small screens
    @include bp.l {
        flex-direction: row;
    };
    flex-wrap: nowrap;
}

#workspace_wrapper {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr minmax(250px, 1fr) 1fr;
    grid-template-rows: 1fr auto 1fr;
}

.workspace{
    grid-column: 2;
    grid-row: 2;
    h1 {
        text-align: center;
        padding-bottom: 30px;
    }
    form {
        @include v.btn_container;
    }
}

#idx_tittle_wrapper {
    // title and colorful decorator with a picture for big screens
    flex-grow: 1.618;
    flex-basis: 61.8%;
    display: grid;
}

#idx_tittle {
    grid-area: 1 / 1;
    padding: 20px;
    text-align: right;
    font-size: 1rem;
}
.decorator{
    grid-area: 1 / 1;
    display: none; //small screens
    @include bp.l {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    background-color: v.$deco-color;
    height: 100vh;
    border-radius: 40px 0px 0px 40px;
    img {
        max-width: 61.8%;
    }
}